/Atalhos-Core/obj/Debug/net8.0-windows/apphost.exe
.vs/
Atalhos-Core/bin/
Atalhos-Core/obj/
/.vs/Atalhos-Core/CopilotIndices/17.14.1641.39856/CodeChunks.db
/.vs/Atalhos-Core/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
/.vs/Atalhos-Core/CopilotIndices/17.14.1641.39856/CodeChunks.db
/.vs/Atalhos-Core/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
/Atalhos-Core/obj/Debug/net8.0-windows/Atalhos-Core.AssemblyInfo.cs
/Atalhos-Core/.vscode
/Atalhos/obj
/Atalhos/bin/Debug/net8.0-windows
/Atalhos/.vscode
/Atalhos/bin/Release/net8.0-windows/runtimes
/Atalhos/bin/Release/net8.0-windows
